{% extends 'base.html' %}
{% block createcsr %}
    <h2 class="govuk-heading-l">Create signing and transport CSRs</h2>

    {% if context.settings.signing_private_key_pem and context.settings.signing_certificate and context.settings.transport_private_key_pem and context.settings.transport_certificate %}
        <a href="/getaccesstoken" class="govuk-button">Next</a>

        <h3 class="govuk-heading-m">Signing</h3>

        <div id="signing_private_key" class="govuk-body">
            <div class="govuk-form-group">
                <label class="govuk-label" for="signing_private_key">Signing Private Key</label>
                <textarea readonly="readonly" class="govuk-textarea" id="signing_private_key" name="signing_private_key" rows="25" aria-describedby="signing_private_key"
                value="" style="font-size: 13px;">{{ context.settings.signing_private_key_pem }}</textarea>
            </div>
        </div>

        <div id="signing_signing_cert" class="govuk-body">
            <div class="govuk-form-group">
                <label class="govuk-label" for="signing_cert">Signing Certificate</label>
                <textarea readonly="readonly" class="govuk-textarea" id="signing_cert" name="signing_cert" rows="25" aria-describedby="signing_cert"
                value="" style="font-size: 13px;">{{ context.settings.signing_certificate }}</textarea>
            </div>
        </div>

        <h3 class="govuk-heading-m">Transport</h3>

        <div id="signing_private_key" class="govuk-body">
            <div class="govuk-form-group">
                <label class="govuk-label" for="signing_private_key">Transport Private Key</label>
                <textarea readonly="readonly" class="govuk-textarea" id="transport_private_key" name="transport_private_key" rows="25" aria-describedby="transport_private_key"
                value="" style="font-size: 13px;">{{ context.settings.transport_private_key_pem }}</textarea>
            </div>
        </div>

        <div id="signing_signing_cert" class="govuk-body">
            <div class="govuk-form-group">
                <label class="govuk-label" for="signing_cert">Transport Certificate</label>
                <textarea readonly="readonly" class="govuk-textarea" id="transport_cert" name="transport_cert" rows="25" aria-describedby="transport_cert"
                value="" style="font-size: 13px;">{{ context.settings.transport_certificate }}</textarea>
            </div>
        </div>

        <a href="/getaccesstoken" class="govuk-button">Next</a>
    {% else %}
        <p class="govuk-body">You need to generate signing and transport CSRs.</p>

        <p class="govuk-body">We also generate the private keys.</p>

            <form action="/createcsr/" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="tpp_id">Organisation ID</label>
                        {% if context.settings.tpp_id %}
                            <input class="govuk-input" disabled type="text" name="tpp_id_disabled" for="tpp_id_disabled" id="tpp_id_disabled"
                                    placeholder="e.g. COOLTPP01"
                                    {% if context.settings.tpp_id %}value="{{ context.settings.tpp_id }}"{% endif %}>
                            <input class="govuk-input" type="hidden" name="tpp_id" for="tpp_id" id="tpp_id"
                                    {% if context.settings.tpp_id %}value="{{ context.settings.tpp_id }}"{% endif %}
                                    >
                        {% else %}
                            <div class="govuk-error-message">
                                <div class="well well-sm">You must set a Organisation ID otherwise you will not be able to create a valid CSR.
                                    Click <a href="/"> here</a> to go back and set it.
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="tpp_id">Software Statement ID</label>
                        {% if context.settings.software_statement_id %}
                            <input class="govuk-input" disabled type="text" name="software_statement_id_disabled" for="software_statement_id_disabled"
                                    id="software_statement_id_disabled"
                                    placeholder="e.g. 156fe39a-3cef-4056-b89c-76b71ec7d41c"
                                    {% if context.settings.software_statement_id %}value="{{ context.settings.software_statement_id }}"{% endif %}>
                            <input class="govuk-input" type="hidden" name="software_statement_id" for="software_statement_id" id="software_statement_id"
                                    {% if context.settings.software_statement_id %}value="{{ context.settings.software_statement_id }}"{% endif %}
                                    >
                        {% else %}
                            <div class="govuk-error-message">
                                <div class="well well-sm">You must set a Software Statement ID otherwise you will not be able to create a valid CSR.
                                    Click <a href="/"> here</a> to go back and set it.
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="key_size">Key Size</label>
                        <select class="govuk-select" id="key_size" name="key_size">
                            {% if context.settings.key_size == "2048" %}
                                <option value="2048" selected>2048-bit</option>
                            {% else %}
                                <option value="2048">2048-bit</option>
                            {% endif %}
                            {% if context.settings.key_size == "4096" %}
                                <option value="4096" selected>4096</option>
                            {% else %}
                                <option value="4096">4096-bit</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="csr_locality_name">Locality Name (L)</label>
                        <input class="govuk-input" type="text" name="csr_locality_name" for="csr_locality_name" id="csr_locality_name"
                                    placeholder="e.g. London"
                                    {% if context.settings.csr_locality_name %}value="{{ context.settings.csr_locality_name }}"{% endif %}>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="csr_state_or_province_name">State or Province Name (ST)</label>
                        <input class="govuk-input" type="text" name="csr_state_or_province_name" for="csr_state_or_province_name" id="csr_state_or_province_name"
                                    placeholder="e.g. Middlesex"
                                    {% if context.settings.csr_state_or_province_name %}value="{{ context.settings.csr_state_or_province_name }}"{% endif %}>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="csr_country_name">Country Name (C)</label>
                        <input class="govuk-input" type="text" name="csr_country_name" for="csr_country_name" id="csr_country_name"
                                    placeholder="e.g. GB"
                                    {% if context.settings.csr_country_name %}value="{{ context.settings.csr_country_name }}"{% endif %}>
                    </div>
                </fieldset>
            </div>
            {% if context.settings.tpp_id and context.settings.software_statement_id %}
                <input type="submit" size="25" class="govuk-button" value="Generate CSR's">
            {% endif %}
        </form>
    {% endif %}
{% endblock %}
