{% extends 'base.html' %}
{% block createtoken %}
    <h2 class="govuk-heading-l">Get an Access Token (JWT)</h2>
    <p class="govuk-body">You need to get an Access Token in order to access the Directory's APIs programmatically.</p>

    {% if context.settings.access_token %}
        <div id="access_token" class="govuk-body">
            <div class="govuk-form-group">
                <label class="govuk-label" for="access_token">Access Token</label>
                <textarea readonly="readonly" class="govuk-textarea" id="access_token" name="access_token" rows="10" aria-describedby="access_token"
                value="" style="font-size: 13px;">{{ context.settings.access_token }}</textarea>
            </div>
        </div>
        <a href="/getssa" class="govuk-button">Next</a>
    {% else %}
        <form action="/getaccesstoken/" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group">
                        {% if context.settings.software_statement_id %}
                            <label class="govuk-label" for="tpp_id">SSA ID</label>
                            <input class="govuk-input" disabled type="text" name="software_statement_id_disabled" for="software_statement_id_disabled"
                                    id="software_statement_id_disabled"
                                    placeholder="e.g. 156fe39a-3cef-4056-b89c-76b71ec7d41c"
                                    {% if context.settings.software_statement_id %}value="{{ context.settings.software_statement_id }}"{% endif %}
                                    class="form-control">
                            <input class="govuk-input" type="hidden" name="software_statement_id" for="software_statement_id" id="software_statement_id"
                                    {% if context.settings.software_statement_id %}value="{{ context.settings.software_statement_id }}"{% endif %}
                                    >
                        {% else %}
                            <div class="govuk-error-message">
                                <div class="well well-sm">You must set a Software Statement ID otherwise you will not be able to create a valid CSR.
                                    Click <a href="/"> here</a> to go back and set it.
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="govuk-form-group">
                        {% if context.settings.kid %}
                            <label class="govuk-label" for="tpp_id">KID</label>
                            <input class="govuk-input" disabled type="text" name="kid_disabled" for="kid_disabled" id="kid_disabled"
                                    placeholder="e.g. 243665868fa345e45d45b3c"
                                    {% if context.settings.kid %}value="{{ context.settings.kid }}"{% endif %}
                                    class="form-control">
                            <input class="govuk-input" type="hidden" name="kid" for="kid" id="kid"
                                    {% if context.settings.kid %}value="{{ context.settings.kid }}"{% endif %}
                                    >
                        {% else %}
                            <div class="govuk-error-message">
                                <div class="well well-sm">You must set a KID otherwise you will not be able to
                                    request an access token. A KID is created when you create a valid CSR.
                                    Click <a href="/createcsr"> here</a> to go back and set it.
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="govuk-form-group">
                        {% if context.settings.client_scopes %}
                            <label class="govuk-label" for="tpp_id">Client Scopes</label>
                            <input class="govuk-input" disabled type="text" name="client_scopes_disabled" for="client_scopes_disabled" id="client_scopes_disabled"
                                    placeholder="e.g. ASPSPReadAccess TPPReadAccess"
                                    {% if context.settings.client_scopes %}value="{{ context.settings.client_scopes }}"{% endif %}
                                    class="form-control">
                            <input class="govuk-input" type="hidden" name="client_scopes" for="client_scopes" id="client_scopes"
                                    {% if context.settings.client_scopes %}value="{{ context.settings.client_scopes }}"{% endif %}
                                    >
                        {% else %}
                            <div class="govuk-error-message">
                                <div class="well well-sm">You must set client scopes otherwise you will
                                    not be able to request an access token.
                                    Click <a href="/"> here</a> to go back and set it.
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="govuk-form-group">
                        {% if context.settings.token_url %}
                            <label class="govuk-label" for="tpp_id">Token URL</label>
                            <input class="govuk-input" disabled type="text" name="token_url_disabled" for="token_url_disabled" id="token_url_disabled"
                                    placeholder="e.g. https://example.com/token"
                                    {% if context.settings.token_url %}value="{{ context.settings.token_url }}"{% endif %}
                                    class="form-control">
                            <input class="govuk-input" type="hidden" name="token_url" for="token_url" id="token_url"
                                    {% if context.settings.client_scopes %}value="{{ context.settings.client_scopes }}"{% endif %}
                                    >
                        {% else %}
                            <div class="govuk-error-message">
                                <div class="well well-sm">You must set token URL otherwise you will
                                    not be able to request an access token.
                                    Click <a href="/"> here</a> to go back and set it.
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </fieldset>
            </div>
            {% if context.settings.kid and
                    context.settings.software_statement_id and
                    context.settings.client_scopes and
                    context.settings.token_url %}
                <input type="submit" size="25" class="govuk-button" value="Get an Access Token">
            {% endif %}
        </form>
    {% endif %}
{% endblock %}
