{% extends 'base.html' %}
{% block getssa %}
    <h2 class="govuk-heading-l">Retrieve Software Statement Assertion (SSA)</h2>
    <p class="govuk-body">You need a SSA to onboard your application with a Broker or IDP.</p>

    {% if context.settings.software_statement_assertion %}
        <div id="ssa" class="govuk-body">
            <div class="govuk-form-group">
                <label class="govuk-label" for="ssa">Software Statement Assertion</label>
                <textarea readonly="readonly" class="govuk-textarea" id="ssa" name="ssa" rows="35" aria-describedby="ssa"
                value="" style="font-size: 13px;">{{ context.settings.software_statement_assertion }}</textarea>
            </div>
        </div>
    {% else %}
        <form action="/getssa/" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="tpp_id">Organisation ID</label>
                        {% if context.settings.tpp_id %}
                            <input class="govuk-input" disabled type="text" name="tpp_id_disabled" for="tpp_id_disabled" id="tpp_id_disabled"
                                    placeholder="e.g. COOLTPP01"
                                    {% if context.settings.tpp_id %}value="{{ context.settings.tpp_id }}"{% endif %}>
                            <input class="govuk-input" type="hidden" name="tpp_id" for="tpp_id" id="tpp_id"
                                    {% if context.settings.tpp_id %}value="{{ context.settings.tpp_id }}"{% endif %}
                                    >
                        {% else %}
                            <div class="govuk-error-message">
                                <div class="well well-sm">You must set a Organisation ID otherwise you will not be able to create a valid CSR.
                                    Click <a href="/"> here</a> to go back and set it.
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="govuk-form-group">
                        {% if context.settings.software_statement_id %}
                            <label class="govuk-label" for="tpp_id">SSA ID</label>
                            <input class="govuk-input" disabled type="text" name="software_statement_id_disabled" for="software_statement_id_disabled"
                                    id="software_statement_id_disabled"
                                    placeholder="e.g. 156fe39a-3cef-4056-b89c-76b71ec7d41c"
                                    {% if context.settings.software_statement_id %}value="{{ context.settings.software_statement_id }}"{% endif %}
                                    class="form-control">
                            <input class="govuk-input" type="hidden" name="software_statement_id" for="software_statement_id" id="software_statement_id"
                                    {% if context.settings.software_statement_id %}value="{{ context.settings.software_statement_id }}"{% endif %}
                                    >
                        {% else %}
                            <div class="govuk-error-message">
                                <div class="well well-sm">You must set a Software Statement ID otherwise you will not be able to create a valid CSR.
                                    Click <a href="/"> here</a> to go back and set it.
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="tpp_ssa_url">Software Statement URL</label>
                        <input class="govuk-input" readonly="readonly" type="text" name="tpp_ssa_url"                        for="tpp_ssa_url" id="tpp_ssa_url"
                               value="{{ context.settings.tpp_ssa_url }}">
                    </div>
                </fieldset>
            </div>
            <input type="submit" size="25" class="govuk-button" value="Get SSA">
        </form>
    {% endif %}
{% endblock %}
