{% extends 'base.html' %}
{% block home %}
    <h2 class="govuk-heading-l">Organisation Onboarding</h2>
    <p class="govuk-body">The Organisation Onboarding Application is meant to help onboard organisation apps to the Trust Framework.</p>

    <p class="govuk-body">An organisation can onboard with one of available schemes.</p>

    <p class="govuk-body">An organisation can be a Broker or an IDP.</p>

    <form action="/" method="post" enctype="multipart/form-data">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="scheme">Choose scheme</label>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="scheme-1" name="scheme" type="radio" value="1"
                            {% if context.settings.scheme == '1' %}checked="checked"{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="scheme-1">
                                Scheme 1
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="scheme-2" name="scheme" type="radio" value="2"
                            {% if context.settings.scheme == '2' %}checked="checked"{%endif%}>
                            <label class="govuk-label govuk-radios__label" for="scheme-2">
                                Scheme 2
                            </label>
                        </div>
                    </div>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="org_name">Organisation Name</label>
                    <input class="govuk-input" id="org_name" name="org_name" required type="text" placeholder="e.g. Super Cool Org"{% if context.settings.org_name %}value="{{ context.settings.org_name }}"{% endif %}>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="tpp_id">Organisation ID</label>
                    <input class="govuk-input" type="text" name="tpp_id" required for="tpp_id" id="tpp_id"
                                    placeholder="e.g. COOLTPP01"
                                    {% if context.settings.tpp_id %}value="{{ context.settings.tpp_id }}"{% endif %}>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="domain">Organisation Domain</label>
                    <input class="govuk-input" type="text" name="domain" required for="domain" id="domain"
                                   placeholder="e.g. https://www.example.com"
                                   {% if context.settings.domain %}value="{{ context.settings.domain }}"{% endif %}>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="type">Organisation Type</label>
                    <select class="govuk-select" id="type" name="type">
                        <option value="broker"
                            {% if context.settings.type == 'broker' %} selected {% endif %}>
                            Broker
                        </option>
                        <option value="idp"
                            {% if context.settings.type == 'idp' %} selected {% endif %}>
                            IDP
                        </option>
                    </select>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="loa">Level of Assurance</label>
                    <select class="govuk-select" id="loa" name="loa">
                        <option value="1">LOA 1</option>
                        <option value="2">LOA 2</option>
                        <option value="3">LOA 3</option>
                    </select>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="software_statement_id">Software Statement ID</label>
                    <input class="govuk-input" type="text" name="software_statement_id" required for="software_statement_id"
                                   id="software_statement_id"
                                   placeholder="e.g. 156fe39a-3cef-4056-b89c-76b71ec7d41c"
                                   {% if context.settings.software_statement_id %}value="{{ context.settings.software_statement_id }}"{% endif %}>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="software_statement_id">Upload Broker image in SVG format</label>
                    <input class="govuk-input" type="file" name="brand_image" id="brand_image_id" accept="image/*">
                </div>

                <div class="govuk-form-group" style="display: none;">
                    <label class="govuk-label" for="token_url">Token URL</label>
                    <input class="govuk-input" type="text" name="token_url" for="token_url" id="token_url"
                                   placeholder="e.g. https://www.example.com/token"
                                   {% if context.settings.token_url %}value="{{ context.settings.token_url }}"{% endif %}>
                </div>

                <div class="govuk-form-group" style="display: none;">
                    <label class="govuk-label" for="tpp_ssa_url">Software Statement URL</label>
                    <input class="govuk-input" type="text" name="tpp_ssa_url" for="tpp_ssa_url"                          id="tpp_ssa_url"
                                   placeholder="e.g. https://www.example.com/ssa"
                                   {% if context.settings.tpp_ssa_url %}value="{{ context.settings.tpp_ssa_url }}"{% endif %}>
                </div>

                <div class="govuk-form-group" style="display: none;">
                    <label class="govuk-label" for="aspsp_list_url">Authorisation Server URLs</label>
                    <input class="govuk-input" type="text" name="aspsp_list_url" for="aspsp_list_url"                    id="aspsp_list_url"
                                   placeholder="e.g. https://www.example.com/aspsp"
                                   {% if context.settings.aspsp_list_url %}value="{{ context.settings.aspsp_list_url }}"{% endif %}>
                </div>

                <div class="govuk-form-group" style="display: none;">
                    <label class="govuk-label" for="client_scopes">Organisation Scopes</label>
                    <input class="govuk-input" type="text" name="client_scopes" for="client_scopes"                    id="client_scopes" value="ASPSPReadAccess">
                </div>

                <div class="govuk-form-group" style="display: none;">
                    <label class="govuk-label" for="onboarding_scopes">App Onboarding Scopes</label>
                    <input class="govuk-input" type="text" name="onboarding_scopes"                                     for="onboarding_scopes" id="onboarding_scopes" value="openid">
                </div>
            </fieldset>
        </div>
        <input type="submit" size="25" class="govuk-button" value="Register Organisation">
    </form>
{% endblock %}
